@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");
@import "./sass/_variables.scss";
@import "./sass/_mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background: -webkit-linear-gradient(
    30deg,
    rgb(248, 203, 203),
    rgb(252, 252, 252)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    30deg,
    rgb(248, 203, 203),
    rgb(252, 252, 252)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}
.boxCenter{
  @include flex-center;
  padding: 1rem;
}
.app-name {
  font-weight: 700;
}
.add-btn{
  @include flex-center;
  @include mq(640px){
    bottom: 1.5rem;
    right: 1.5rem;
  }
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.col-white{
  color: $white-col;
}
.modal {
  @include abs-center;
  @include mq(640px) {
    max-width: 20rem;
  }
  max-width: 90vw;
  backdrop-filter: blur(10px);
  border: 1px solid $grey-col;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $off-white;
}
.modal-title{
  margin-bottom: 1rem;
}

.MuiCardHeader-root{
  font-weight: 700;
  padding: 0.5rem;
}